.form-adm{
    background-color: cadetblue;
    width: 25vw;
    padding: .3rem .2rem .3rem .2rem;
    border-radius: 10px;
}

.form-adm form{
    display: flex;
    flex-direction: column;
}

.form-adm form input{
    margin: .5rem 0 .3rem 0;
}