@import '../../../style/colors';
@import '../../../style/style';

.header {
    @include container;
    &-list {
        margin: 2rem 0 0 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        
        &-item {
            margin: 0 1rem 0 1rem;
            
            &-link {
                color: black;
                text-decoration: none;
            }
        }
    }
        
}