
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif; 
}

h1 {
  text-align: center;
}

img {
  width: 10rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  list-style: none;
}

ul li {
  margin: .8rem;
}

ul li h3 {
  text-align: center;
  width: 10rem;
  height: 4rem;
}