@import '../../style/colors';
@import '../../style/style';

.content {
    @include container;
    &-title {
        color: $color-primary;
    }
}
h1 {
    color: white;
    background-color: black;
}